services:
  postgres:
    image: postgres:latest
    env_file:
      - ./apps/cograph/.env
    ports:
      - 5432:5432
    volumes:
      - postgres_data_container:/data/db
  neo4j:
    image: neo4j:latest
    volumes:
        - /$HOME/neo4j/logs:/logs
        - /$HOME/neo4j/config:/config
        - /$HOME/neo4j/data:/data
        - /$HOME/neo4j/plugins:/plugins
    environment:
        - NEO4J_AUTH=neo4j/password
    ports:
      - "7474:7474"
      - "7687:7687"
    restart: always
volumes:
  postgres_data_container: